.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .grid-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .grid-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .grid-container {
        width: 1170px;
    }
}